@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 240 10% 3.9%;

		--card: 0 0% 100%;
		--card-foreground: 240 10% 3.9%;

		--popover: 0 0% 100%;
		--popover-foreground: 240 10% 3.9%;

		--primary: 142.1 76.2% 36.3%;
		--primary-foreground: 355.7 100% 97.3%;

		--secondary: 240 4.8% 95.9%;
		--secondary-foreground: 240 5.9% 10%;

		--muted: 240 4.8% 95.9%;
		--muted-foreground: 240 3.8% 46.1%;

		--accent: 240 4.8% 95.9%;
		--accent-foreground: 240 5.9% 10%;

		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 0 0% 98%;

		--border: 240 5.9% 90%;
		--input: 240 5.9% 90%;
		--ring: 142.1 76.2% 36.3%;

		--radius: 0.5rem;
	}

	.dark {
		--background: 20 14.3% 4.1%;
		--foreground: 0 0% 95%;

		--card: 24 9.8% 10%;
		--card-foreground: 0 0% 95%;

		--popover: 0 0% 9%;
		--popover-foreground: 0 0% 95%;

		--primary: 142.1 70.6% 45.3%;
		--primary-foreground: 144.9 80.4% 10%;

		--secondary: 240 3.7% 15.9%;
		--secondary-foreground: 0 0% 98%;

		--muted: 0 0% 15%;
		--muted-foreground: 240 5% 64.9%;

		--accent: 12 6.5% 15.1%;
		--accent-foreground: 0 0% 98%;

		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 0 85.7% 97.3%;

		--border: 240 3.7% 15.9%;
		--input: 240 3.7% 15.9%;
		--ring: 142.4 71.8% 29.2%;
	}
}

@keyframes pulse-animation {
	0% {
		transform: scale(0.95);
		opacity: 1;
	}
	50% {
		transform: scale(1.15);
		opacity: 0.6;
	}
	100% {
		transform: scale(0.95);
		opacity: 1;
	}
}

.animate-pulse-custom {
	animation: pulse-animation 1.5s infinite;
}

@layer base {
	* {
		@apply border-border;
		box-sizing: border-box;
	}

	html {
		width: 100vw;
		height: 100%;
		overflow-y: hidden;
	}
	body {
		@apply bg-background text-foreground;
		height: 100%;
		margin: 0;
		overflow-x: hidden;
		direction: ltr;
		font-size: 14px;
	}

	.iconStroke {
		@apply stroke-[#4B5563] dark:stroke-white;
	}

	.ag-theme-alpine {
		--ag-background-color: hsl(var(--background));
		--ag-odd-row-background-color: hsl(var(--background));
		--ag-header-background-color: hsl(var(--background));
		--ag-row-hover-color: hsl(var(--secondary));
		--ag-row-height: 4.5rem;
		--ag-row-border-width: 1px;
		--ag-row-border-color: hsl(var(--border));
		--ag-header-foreground-color: hsl(var(--muted-foreground));
		--ag-foreground-color: hsl(var(--foreground));
		--ag-header-cell-moving-background-color: hsl(var(--card));
		--ag-font-family: 'Inter', sans-serif;
		--ag-font-size: 14px;
		--ag-borders: none;
		--ag-header-column-resize-handle-color: hsl(var(--border));
		--ag-control-panel-background-color: hsl(var(--background));
	}
}

.animate-gradient {
	background-size: 300%;
	-webkit-animation: animatedgradient 6s ease infinite alternate;
	-moz-animation: animatedgradient 6s ease infinite alternate;
	animation: animatedgradient 6s ease infinite alternate;
}

@keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

::-webkit-scrollbar {
	width: 80px;
}

::-webkit-scrollbar-track {
	background: rgb(var(--blueSecondery));
}

::-webkit-scrollbar-thumb {
	background: rgb(var(--pinkPrimary));
}

*:hover::-webkit-scrollbar-thumb {
	background: rgb(var(--pinkPrimary));
}
